$color-primary: #000000;
$color-primary-light: #79736d;
$color-secondary: #ffffff;

$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;
$padding-xl: 32px;
$padding-xxl: 40px;

$padding-page: 100px;

$gap-xs: 4px;
$gap-small: 8px;
$gap-medium: 16px;
$gap-large: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 64px;

$font-xs: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-medium-large: 16px;
$font-large: 20px;
$font-xl: 24px;

$page-details-container-width: 1200px;