// Estilos base para MOBILE (pantalla pequeña)
.dashboard {
    overflow: auto;
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    @include desktop {
        display: block;
    }
}

.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-large;
    margin-bottom: $padding-medium;
    padding: 0px $padding-page-mobile;
    width: fit-content;

    // Tablet: 2 columnas
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: $gap-xl;
        padding: 0px $padding-page-tablet;
        margin-bottom: $padding-page-tablet;
    }

    // Desktop: 4 columnas
    @include desktop {
        grid-template-columns: repeat(4, minmax(350px, 1fr));
        padding: 0px $padding-page;
        margin-bottom: 100px;
    }
}